body{
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: 'メイリオ';
}

.green{
    color: #5f9ea0;
}

.layer{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;

    width:100%;
    height:100%;

    background-color:#000000;
    opacity:0.5;
    visibility: hidden;
    z-index:1;
}

p{
    margin: 0;
}

main{
    width: 80vw;
    padding: 0 10vw;
}

.title{
    font-size: 20px;
    color: white;
    margin-left: 10%;
    line-height: 10vh;
    text-decoration: none;
}

#top-img{
    background-image: url(img/top_image.png);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}

.question{
    /* background-color: #dcdcdc; */
    height: fit-content;
    margin-bottom: 110px;
}

.q-sentence{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 100px;
}

.problems{
    display: flex;
}

#problem0,#problem1,#problem2{
    height: 200px;
    padding: 10px;
    padding-bottom: 25px;
    background-color: #67abae;
    border-radius: 10px;
    color: white;
}

.pb-copy{
    text-align: center;
    position: relative;
    bottom: 40px;
}

#problem1 .pb-copy{
    bottom: 50px;
}

.pb-img{
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: -70px;
}

#problem1{
    margin: 0 5%;
}

#logo-wrapper p{
    font-size: 24px;
    font-weight: bold;
}

img#logo{
    width: 100%;
    height: auto;
}


.service,.service-L{
    width: 100%;
    height: 40vh;
    height: fit-content;
}

.services img,.services p{
    display: inline-block;
}

.service-L{
    text-align: right;
}

.services{
    margin-bottom: 50px;
}

.service0{
    /* background-color: #dadada; */
}

.service1{
    /* background-color: #dadada; */
    margin: 5% 0;
}

.service2{
    /* background-color: #dadada; */
}

#container{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.button-wrapper{
    text-align: center;
}

#form-wrapper{
    height: 70vh;

    font-size: 18px;
}

#contact-form{
    vertical-align: middle;
    width: fit-content;
    margin: auto;
}

label{
    display: block;
    margin-left: 10%;
}

.form-send{
    margin-top: 4vh;
    text-align: center;
}

input#send{
    width: 10vw;
    background-color: #4169e1;
    border: none;
    color: white;
    border-radius: 7px;
    display: inline-block;
}

#close-button img{
    width: 100%;
    height: 100%;
}



#form-wrapper p{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
    font-size: 30px;
    letter-spacing: 3px;
}

footer{
    background-color: #5f9ea0;
    font-size: 13px;
    text-align: center;
    color: white;
}

#contact-link {
    border-bottom: solid 2px #f8f8f8;
    cursor: hand;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-text{
    color: white;
    padding: auto 0;
}

#download-link{
    margin-bottom: 10px;
    cursor: pointer;
}






















/*pc*/
@media screen and (min-width: 500px) {
    .beforeSlideIn{
        width: 30%;
    }

    #top-img{
        height: 80vh;
    }

    #logo-wrapper{
        width: 35vw;
        margin: 20vh auto;
        margin-bottom: 70px;
    }

    .service, .service-L{
        position: relative;
        height: 40vh;
    }

    .service img,.service-L img{
        position: absolute;
        height: 40vh;
    }

    .service-L img{
        top: 0%;
        right: 0%;
    }

    .service p,.service-L p{
        position: absolute;
        top: auto;
        bottom: auto;
        left: 50px;
        text-align: left;
        width: 50%;
        height: fit-content;
        top: 50%;
        transform: translate(-0%, -50%);
    }

    .service-L p{
        right: 100%;
    }

    .service p{
        padding-left: 40vw;
    }

    .service-L p{
        text-align: left;
    }

    .mb{
        display: none;
    }

    #modal{
        background-color: #f8f8f8;
        border-radius: 20px;
        width: 40vw;
        height: 70vh;

        display: none;
        position: fixed;
        
        top: 15%;
        bottom: 15%;
        left: 30%;
        right: 30%;
        z-index: 2;
        box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.2);
    }

    input{
        width: 25vw;
    }

    textarea{
        width: 25vw;
        height: 10vh;
        resize: none;
    }

    #close-button{
        width: 40px;
        height: 40px;
        background: none;
        padding: 0;
        border: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        transform: translate(41vw , -68vh);
    }
}













/*mobile*/
@media screen and (max-width: 479px){

 #top-logo{
    width: 35vw;
 }

 #top-img{
    height: 20vh;
 }

 #logo-wrapper{
    margin: 10vh auto;
 }

 #logo-wrapper p{
    width: fit-content;
 }

 #logo{
    width: 70vh;
 }

 .problems{
    flex-direction: column;
    align-items: center;
 }

 .beforeSlideIn{
    width: 100%;
 }

 #problem1{
    margin: 10vh 0;
 }

 .service p,.service-L p{
    right: 50px;
    text-align: left;
    padding: 5px 5px;
}

 .service img,.service-L img{
    width: 100%;
 }

.service1{
    display: flex;
    flex-direction: column-reverse;
}

 #modal{
    background-color: #f8f8f8;
    border-radius: 20px;
    width: 70vw;
    height: 70vh;

    display: none;
    position: fixed;
    
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    z-index: 2;
}

input{
    width: 45vw;
}

textarea{
    width: 45vw;
    height: 10vh;
    resize: none;
}

#close-button{
    width: 40px;
    height: 40px;
    background: none;
    padding: 0;
    border: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    transform: translate(71vw , -70vh);
}

#download-link{
    text-align: center;
}

#download-link img{
    width: 50%;
}
}